<% provide(:title, 'Forums Home') %>

<div class="center jumbotron">
  <h1>Welcome to the Test Forum</h1>
  <% if logged_in? %>
    <h2>
      Logged in as <%= link_to current_user.name, current_user %>
    </h2>
    <h2>
      <%= link_to "Enter forums!", forums_show_path, class: "btn btn-lg btn-primary" %>
    </h2> 
  <% else %>
    <h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </h2> 
  <% end %>
</div>
