<% if @forum_ids.any? %>
  <% @forum_ids.each do |f| %>
    <tr>
      <td class="col-md-10">
        <p><%= link_to "#{Topic.find(f).title}", "../topics/#{Topic.find(f).id}"%></p>
        <p>Posts: <%= Topic.find(f).posts.count %></p>
      </td>
      <td class="col-md-2">
        <p>Last Post By: <%= truncate(Topic.find(f).last_post.user.name, :length => 30) %></p>
        <p><%= time_ago_in_words(Topic.find(f).last_post.created_at) %> ago</p>
      </td>
    </tr>
  <% end %>
<% end %>
