<% if @forum_ids.any? %>
  <% @forum_ids.each do |f| %>
    <forum_main class="col-md-8">
      <section class="topic_title"
        <h3><%= Topic.find(f).title %></h3>
      </section>
    </forum_main>
    <forum_main class="col-md-4">
      <section class="last_post_info"
           <h3>Last Post By: <%= Topic.find(f).last_post.user.name %></h3>
           <h5><%= time_ago_in_words(Topic.find(f).last_post.created_at) %> ago</h5>
      </section>
    </forum_main>
  <% end %>
<% end %>
