<% provide(:title, 'New Forum') %>
<% provide(:button_text, 'Create forum') %>
<h1>New Forum</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'forum_new' %>
  </div>
</div>
