<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Forums Home", forums_show_path %></li>
  </ol>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0 %>
  </div>
  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-8">Forum</th>
            <th class="col-md-4">Latest</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'forums' %>
        </tbody>
      </table>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0  %>
  </div>
</div>
