<% if @posts.any? %>
  <% @posts.each do |f| %>
    <tr>
      <td class="col-md-2">
         <p><%= Post.find(f).user.name %></p>
         <p><%= time_ago_in_words(Post.find(f).created_at) %> ago</p>
      </td>
      <td class="col-md-10">
        <p><%= Post.find(f).content %></p>
      </td>
  <% end %>
<% end %>
